.favorites {
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

h2 {
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
}

.wrapper {
  margin: 12px;
  width: 348px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  text-align: center;
}

.item__buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item__buttons button {
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
}

.imageWrapper {
  height: 250px;
  display: flex;
  align-items: center;
}
