.cart {
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  height: 250px;
}

.item__picture {
  width: 250px;
  display: flex;
  justify-content: center;
}

.title {
  width: 300px;
  text-align: center;
}

.returnBtn {
  display: flex;
  justify-content: flex-end;
}
